body{font-family: 'Muli', sans-serif;}
*{outline:none!important;}
select{outline:none;}
select > option{outline: none}
.titleLogin{background: #eb5a44; padding: 20px; text-align:center;}
.titleLogin > span{font-size: 28px; color:#FFF; font-weight: }
.cdr-login{background: #fff; padding:0!important;  border-radius:5px 5px 0 0; overflow: hidden}
.btn-login{border-top:1px solid #ddd; padding-top:20px; margin-top: 40px;}
.bg-avila{background-color:#eb5a44!important; color:#fff!important}
.bg-avila2{background-color:#00b6be!important; color:#fff!important}
.bg-avila2 > h4{color:#fff!important;}
.m-t-100{margin-top:100px;}
.m-0{margin:0!important}.m-t-0{margin-top:0!important}.m-b-0{margin-bottom:0!important}.m-l-0{margin-left:0!important}.m-r-0{margin-right:0!important}.m-5{margin:5px!important}.m-t-5{margin-top:5px!important}.m-b-5{margin-bottom:5px!important}.m-l-5{margin-left:5px!important}.m-r-5{margin-right:5px!important}.m-10{margin:10px!important}.m-t-10{margin-top:10px!important}.m-b-10{margin-bottom:10px!important}.m-l-10{margin-left:10px!important}.m-r-10{margin-right:10px!important}.m-15{margin:15px!important}.m-t-15{margin-top:15px!important}.m-b-15{margin-bottom:15px!important}.m-l-15{margin-left:15px!important}.m-r-15{margin-right:15px!important}.m-20{margin:20px!important}.m-t-20{margin-top:20px!important}.m-b-20{margin-bottom:20px!important}.m-l-20{margin-left:20px!important}.m-r-20{margin-right:20px!important}.m-25{margin:25px!important}.m-t-25{margin-top:25px!important}.m-b-25{margin-bottom:25px!important}.m-l-25{margin-left:25px!important}.m-r-25{margin-right:25px!important}.m-30{margin:30px!important}.m-t-30{margin-top:30px!important}.m-b-30{margin-bottom:30px!important}.m-l-30{margin-left:30px!important}.m-r-30{margin-right:30px!important}.m-40{margin:40px!important}.m-t-40{margin-top:40px!important}.m-b-40{margin-bottom:40px!important}.m-l-40{margin-left:40px!important}.m-r-40{margin-right:40px!important}
.p-0{padding:0!important}.p-t-0{padding-top:0!important}.p-b-0{padding-bottom:0!important}.p-l-0{padding-left:0!important}.p-r-0{padding-right:0!important}.p-5{padding:5px!important}.p-t-5{padding-top:5px!important}.p-b-5{padding-bottom:5px!important}.p-l-5{padding-left:5px!important}.p-r-5{padding-right:5px!important}.p-10{padding:10px!important}.p-t-10{padding-top:10px!important}.p-b-10{padding-bottom:10px!important}.p-l-10{padding-left:10px!important}.p-r-10{padding-right:10px!important}.p-15{padding:15px!important}.p-t-15{padding-top:15px!important}.p-b-15{padding-bottom:15px!important}.p-l-15{padding-left:15px!important}.p-r-15{padding-right:15px!important}.p-20{padding:20px!important}.p-t-20{padding-top:20px!important}.p-b-20{padding-bottom:20px!important}.p-l-20{padding-left:20px!important}.p-r-20{padding-right:20px!important}.p-25{padding:25px!important}.p-t-25{padding-top:25px!important}.p-b-25{padding-bottom:25px!important}.p-l-25{padding-left:25px!important}.p-r-25{padding-right:25px!important}.p-30{padding:30px!important}.p-t-30{padding-top:30px!important}.p-b-30{padding-bottom:30px!important}.p-l-30{padding-left:30px!important}.p-r-30{padding-right:30px!important}.p-40{padding:40px!important}.p-t-40{padding-top:40px!important}.p-b-40{padding-bottom:40px!important}.p-l-40{padding-left:40px!important}.p-r-40{padding-right:40px!important}
.p-b-13{padding-bottom: 13px;}
.f-8{font-size:8px!important}.f-9{font-size:9px!important}.f-10{font-size:10px!important}.f-11{font-size:11px!important}.f-12{font-size:12px!important}.f-13{font-size:13px!important}.f-14{font-size:14px!important}.f-15{font-size:15px!important}.f-16{font-size:16px!important}.f-17{font-size:17px!important}.f-18{font-size:18px!important}.f-19{font-size:19px!important}.f-20{font-size:20px!important}.f-300{font-weight:300!important}.f-400{font-weight:400!important}.f-500{font-weight:500!important}.f-700{font-weight:700!important}
.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.text-nowrap{white-space:nowrap}.text-lowercase{text-transform:lowercase}.text-uppercase{text-transform:uppercase}.text-capitalize{text-transform:capitalize}
.b-0{border:0!important}
.p-relative{position:relative!important}.p-absolute{position:absolute!important}.p-fixed{position:fixed!important}.p-static{position:static!important}
.o-hidden{overflow:hidden!important}.o-visible{overflow:visible!important}	.o-auto{overflow:auto!important}
.w-100{width:100%!important}
.text-hide{font:0/0 a;color:transparent;background-color:transparent;border:0}
.show{display:block!important}
.invisible{visibility:hidden}
.brd-2,.media-object{border-radius:2px}.brd-3,.media-object{border-radius:3px}.brd-4,.media-object{border-radius:4px}.brd-5,.media-object{border-radius:5px}.brd-50,.media-object{border-radius:50%}
.bor{border:1px solid #efefef;}
.bor-t{border-top:1px solid #efefef}
.bor-r{border-right:1px solid #efefef}
.bor-b{border-bottom:1px solid #efefef}
.bor-l{border-left:1px solid #efefef}
.bor-t{border-top:1px solid #efefef}
.bor-r{border-right:1px solid #efefef}
.bor-b{border-bottom:1px solid #efefef}
.bor-l{border-left:1px solid #efefef}
.pull-left{float: left!important}
.pull-right{float: right!important}

.cursor-p{cursor: pointer}
.subTitleForm{background:rgba(222,222,222,0.2); color:#666;}
.obli{color:#eb5a44;}
.shaCdr{background-color: #ffffff;box-shadow: 0 2px 8px rgba(33,33,33,.2);-webkit-box-shadow: 0 2px 8px rgba(33,33,33,.2);-moz-box-shadow: 0 2px 8px rgba(33,33,33,.2);-o-box-shadow: 0 2px 8px rgba(33,33,33,.2);-ms-box-shadow: 0 2px 8px rgba(33,33,33,.2); }
.cdrbienes{overflow: hidden;}
.cdrbienesImg{width:120px; height:120px; border:1px solid #ccc; margin:0 auto!important; overflow:hidden; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; transition: all 0.2s ease; -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);}
.cdrbienesImg > img{width:120px; height:120px; pointer-events: none}
.cdrbienesImg:hover{border-radius:50%; cursor: pointer; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; transition: all 0.2s ease;}
.cdrbienesImg:active {-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);}
.cdrbienesImg:focus{border-radius:50%;}
.imgDetalleBien{height:120px; width:120px; margin:10px auto; overflow: hidden; padding:0; -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);}
.imgDetalleBien > img{height:120px; width:120px; overflow: hidden; pointer-events: none}
.cdrMultiSelect{width:45%; height:500px;  border:1px solid #e1e1e1; overflow:hidden; position:relative;}
.cdrMultiSelect > .conten{max-height:500px; min-height: 200px; overflow: auto; position:relative;}
.conten-ind > .cdrImg{width:80px; height:80px; border:1px solid #ccc; margin:0 auto!important; overflow:hidden; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; transition: all 0.2s ease; -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);}
.conten-ind > .cdrImg > img{width:80px; height:80px; pointer-events: none}
.conten-ind:hover{background: rgba(170, 170, 170, 0.1); cursor:pointer;}
.iconMultiSelect{margin-top:145px; position: absolute;left: 50%;top: 50%; transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);}
.bggray{background: rgba(222,222,222,0.2)}
.bgwhite{background: #fff}

.sizeModal{width: 80%}
/* @media (max-width:767px){.ppp{width:97%!important;}
 */
/*---------------INICIO STYLE DE LOS Radios------------*/
.tasks-lists {position: absolute; top: 50%; right: 10px; margin-top: -11px; padding: 0; width: 19px; height: 3px;font: 0/0 serif;text-shadow: none; color: transparent;}
.tasks-lists:before {content: ''; height: 3px; background: #8c959d; border-radius: 1px;}
.tasks-list-item {display: list-item; line-height: auto; padding: 0; cursor: pointer; -webkit-user-select: none;-moz-user-select: none; -ms-user-select: none;user-select: none;}
.tasks-list-item + .tasks-list-item {border-top: 1px solid #f0f2f3;}
.tasks-list-cb {display: none;}
.tasks-list-mark {position: relative;display: inline-block;vertical-align: top;margin-right: 0;width: 20px;height: 20px;border: 2px solid #c4cbd2;border-radius: 50%;}
.tasks-list-mark:before {content: '';display: none;position: absolute;top: 50%;left: 50%;margin: -5px 0 0 -6px;height: 8px;width: 12px;border: solid #00b6be;border-width: 0 0 4px 4px;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.text-check{position:relative;display: block;background:transparent;color: #000;font-size: 100%;padding: 0;width: 200px;resize:none;border:1px solid #c4cbd2;border-radius:4px;}
.hitorial-check{ font-size: 14px; font-weight: bold; color: #999; position: relative; padding-left: 10px; border:none; background: transparent;}
.tasks-list-cb:checked ~ .tasks-list-mark { border-color: #00b6be;}
.tasks-list-cb:checked ~ .tasks-list-mark:before { display: block;}
.tasks-list-desc {color: #888;}
.tasks-list-cb:checked ~ .tasks-list-desc {color: #333;}
.text-check:focus {border: 1px solid #765c35;outline: none;color: #2E2E2E; }
*{list-style-type: none;}   
/*---------------FIN STYLE DE LOS RADIO------------*/

/*--------------------------------------------------------------------------------*/
/*---Bloque Gianni Santucci */
.cuerpo_procesar{
	padding: 30px;
}
.img-tabla{
	width:90px!important;
	height:90px!important;
}
.texto-img{
	text-align: center;
	font-size:8pt;
	font-weight: bold; 
}
.contenedor_img_tabla{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------------------------------------------------------------------*/
