<!-- CORE JS FRAMEWORK - START --> 
{% load static %}
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar2.min.js' %}" type="text/javascript"></script> 
<script src="{% static 'js/jquery-1.11.2.min.js' %}" type="text/javascript"></script> 
<script src="{% static 'js/jquery.easing.min.js' %}" type="text/javascript"></script> 
<script src="{% static 'js/djangoAjax.js' %}" type="text/javascript"></script>
<script src="{% static 'js/transition.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script> 
<script src="{% static 'plugins/bootstrapSelect/js/bootstrap-select.min.js' %}" type="text/javascript"></script> 
<script src="{% static 'plugins/datepicker/js/datepicker.js' %}" type="text/javascript"></script>
<!-- <script src="{{STATIC_URL}}plugins/icheck/icheck.min.js" type="text/javascript"></script>
 -->

<script src="{% static 'plugins/pace/pace.min.js' %}" type="text/javascript"></script>  
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}" type="text/javascript"></script> 


<script src="{% static 'plugins/viewport/viewportchecker.js' %}" type="text/javascript"></script> 
<script src="{% static 'plugins/jquery-mask/jquery-mask.js' %}" type="text/javascript"></script>

<!-- CORE JS FRAMEWORK - END --> 
<!-- Plugins-->
<!-- Mensajes de notificacion-->
<script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}" type="text/javascript"></script>
<!--- -->
<!-- -->
<!-- CORE TEMPLATE JS - START --> 
<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
<script src="{% static 'js/fbasic.js' %}" type="text/javascript"></script> 

<!-- END CORE TEMPLATE JS - END --> 

<!-- CORE ANGULAR SCRIPTS -->
<script type="text/javascript" src="{% static 'js/angular/angular.js' %}"></script>
<script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="{% static 'plugins/paginado-angular/main.js' %}"></script>
<script type="text/javascript" src="https://npmcdn.com/isotope-layout@3.0.2/dist/isotope.pkgd.js"></script>

<script type="text/javascript" src="{% static 'js/angular/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/angular-route.js' %}"></script>

<script type="text/javascript" src="{% static 'js/angular/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/servicios/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/directivas/directives.js' %}"></script>
<!--END CORE ANGULAR -->