<html lang="es" ng-app="SisAguaApp" class=" ">

    <head>
        <title>SisAgua</title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="@gsantucci|github/bitbucket:santu1987" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% load static %}
        <link rel="shortcut icon" href=" {% static 'images/favicon-32x32.png' %}" type="image/x-icon" />    <!-- Favicon -->
        <!-- CORE CSS FRAMEWORK - START -->
        <link href="{% static 'plugins/pace/pace-theme-flash.css' %}" rel="stylesheet %}" type="text/css" media="screen"/>
        <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet %}" type="text/css"/>
        <link href="{% static 'plugins/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet %}" type="text/css"/>
        <link href="{% static 'plugins/bootstrapSelect/css/bootstrap-select.min.css' %}" rel="stylesheet %}" type="text/css"/>
        <link href="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.css' %}"  rel="stylesheet">

        <!-- <link href="{{STATIC_ROOT}}plugins/icheck/skins/all.css" rel="stylesheet %}" type="text/css" media="screen"/>
 -->
        <link href="{% static 'plugins/bootstrap-datetimepicker.min.css' %}">
        <link href="{% static 'css/bootstrap-combined.min.css' %}">

        <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet %}" type="text/css"/>
        <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'plugins/datepicker/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS FRAMEWORK - END -->

        <!-- CORE CSS TEMPLATE - START -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <!-- CORE CSS TEMPLATE - END -->
        <!-- Plugins -->
        <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css" media="screen"/>
        <link href="{% static 'css/general.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'plugins/paginado-angular/main.css' %}" rel="stylesheet" type="text/css" media="screen"/>
        <!-- -->
        <!-- -->
    </head>    
