<!DOCTYPE html>
{% include 'header-admin.html' %}

<!-- BEGIN BODY -->
<body class=" "><!-- START TOPBAR -->
    <div class='page-topbar'>
        <div class='logo-area'></div>
    </div>

    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- START CONTENT -->
        <section id="" class=" ">
            <form id="form_is" name="form_is" ng-controller="homeController" method="post" ng-keypress="iniciar_sesion_enter($event)">{{ csrf_token }}
            <section class="wrapper main-wrapper row">
                <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 col-lg-offset-4 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
                    <section class="box nobox " >
                        <div class="content-body">
                            <div class="row">   
                                <div class="col-xs-12 animated fadeIn m-t-100">
                                    <div class="r1_maingraph db_box cdr-login">
                                        <div id="db_morris_bar_graph" style="height:320px;width:100%;">
                                                <div class="titleLogin"><span class="title">Iniciar Sesión</span></div>
                                                <div class="m-40">
                                                    <div class="input-group m-b-20">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <input type="text" class="form-control" id="nombre_us" placeholder="Usuario" ng-model="usuario.nombre_us" onkeypress="return valida(event,this,0,100)" onblur="valida2(this,0,100)">
                                                    </div>
                                                    <div class="input-group m-b-20">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-key"></i>
                                                        </span>
                                                        <input type="password" class="form-control" id="clave_us" placeholder="Contraseña" ng-model="usuario.clave_us" onpaste="return false;" onblur="valida2(this,20,20)" onkeypress="return valida(event,this,20,20)">
                                                    </div>
                                                    <div class="btn-login">
                                                        <button type="button" class="btn btn-avila btn-block" ng-click="iniciar_sesion($event)">Iniciar</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>
            <!-- MAIN CONTENT AREA ENDS -->
            </section>
            </form>
        </section>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
</body>
{% include 'footer-admin.html' %}
{% load static %}
<script type="text/javascript" src="{% static 'js/angular/controladores/homeController.js' %}"></script>

</html>
