<!-- SIDEBAR - START -->
<div class="page-sidebar"  style="position: fixed;">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper"> 
        <!-- USER INFO - START -->
        <div class="profile-info row bor-b" >
            <div class="profile-image col-xs-12">
                <a href="#">
                    <img alt="" src="{{persona.foto_persona}}" class="img-responsive img-circle" style="border:2px solid #eb5a44;">
                </a>
            </div>
            <div class="profile-details col-xs-12">
                <h3>
                    <div class="text-capitalize text-center" style="word-wrap: break-word;">
                        <a href="#" class="f-12">{{ persona.nombres_apellidos }}</a>
                        <div style="clear:both"></div>
                    </div>
                    <!-- Available statuses: online, idle, busy, away and offline -->
                </h3>
                <p class="profile-title text-capitalize text-center f-12" style="word-wrap: break-word;">{{ persona.unidad }}</p>
            </div>
        </div>
        <!-- USER INFO - END -->
        {% if usuario != 'empleado'%}
        <ul class='wraplist p-t-10 bor-b'>
            <li class="{{openHome}}"> <a href="/home/"><i class="fa fa-home"></i> <span class="title">Inicio</span></a></li>
            <li class="{{openAdministracion}}"> <a href="#"><i class="fa fa-desktop"></i> <span class="title">Administración</span> <span class="{{openAdministracion}} arrow"></span> </a>
                <ul class="sub-menu">
                    <li> <a class="{{activeUsuarios}}" href="/usuarios/"> <span class="title">Usuarios</span> </a> </li>
                    <li> <a class="{{activeColores}}" href="/colores/"> <span class="title">Colores</span> </a> </li>
                    <li> <a class="{{activeEstado_bien}}" href="/estado_bien/"> <span class="title">Estado del bien</span> </a> </li>
                    <li> <a class="{{activeEstatus_uso}}" href="/estatus_uso/"> <span class="title">Estatus de uso</span> </a> </li>
                    <li> <a class="{{activeFranjas}}" href="/franjas/"> <span class="title">Franjas</span> </a> </li>
                    <li> <a class="{{activeForma_adquisicion}}" href="/forma_adquisicion/"> <span class="title">Forma de adquisicion</span> </a> </li>
                    <li> <a class="{{activeInmobiliarios}}" href="/inmobiliarios/"> <span class="title">Inmobiliarios</span> </a> </li>
                    <li> <a class="{{activeMarcas}}" href="/marcas/"> <span class="title">Marcas</span> </a> </li>
                    <li> <a class="{{activeMobiliarios}}" href="/mobiliarios/"> <span class="title">Mobiliarios</span> </a> </li>
                    <li> <a class="{{activeOrigen}}" href="/origen/"> <span class="title">Origen de bien</span> </a> </li>
                    <li> <a class="{{activePartidas}}" href="/partidas/"> <span class="title">Partidas presupuestarias</span> </a> </li>
                    <li> <a class="{{activeTiposDesincorporacion}}" href="/tipos_desincorporacion/"> <span class="title">Tipos de desincorporación</span> </a> </li>
                </ul>
            </li>
            <li class="{{openBandeja}}"> <a href="#"><i class="fa fa-inbox"></i> <span class="title">Bandeja de notificaciones</span> <span class="{{openBandeja}} arrow"></span> </a>
                <ul class="sub-menu">
                    <li> <a class="{{activeMovimientoGenerales}}" href="/bandeja_notificaciones/movimientos_por_verificar/"> <span class="title">Movimientos por verificar</span> </a> </li>
                    <li> <a class="{{activeMovimientoInterno}}" href="/bandeja_notificaciones/movimientos_generales/"> <span class="title">Movimientos Generales</span> </a> </li>
                    <li> <a class="{{activeMovimientoExterno}}" href="/bandeja_notificaciones/movimientos_externos/"> <span class="title">Movimientos Externos</span> </a> </li>
                    <li> <a class="{{activeMovimientoRechazados}}" href="/bandeja_notificaciones/movimientos_rechazados/"> <span class="title">Movimientos Rechazados</span> </a> </li>
                    <li> <a class="{{activeAprobacionMovimiento}}" href="/bandeja_notificaciones/aprobacion_movimientos/"> <span class="title">Aprobación movimientos</span> </a> </li>
                    <li> <a class="{{activeAceptarMovimiento}}" href="/bandeja_notificaciones/aceptar_movimientos/"> <span class="title">Aceptar movimientos</span> </a> </li>
                    <li> <a class="{{activeReparacion}}" href="/bandeja_notificaciones/reparacion/"> <span class="title">Reparación</span> </a> </li>
                    <li> <a class="{{activePorDesincorporar}}" href="/por_desincorporar/"> <span class="title">Por desincorporar</span> </a> </li>
                    <li> <a class="{{activeDesincorporarBienes}}" href="/bandeja_notificaciones/desincorporar_bienes/"> <span class="title">Desincorporar Bienes</span> </a> </li>
                </ul>
            </li>    
            <li class="{{openProcesos}}"> <a href="#"><i class="fa fa-sitemap"></i> <span class="title">Procesos</span> <span class="{{openProcesos}} arrow"></span> </a>
                <ul class="sub-menu">
                    <li> <a class="{{activeInventario}}" href="/proceso_incorporacion/"> <span class="title">Incorporación</span> </a> </li>
                    <li> <a class="{{activeInventario}}" href="/incorporacion/"> <span class="title">Incorporación Anterior</span> </a> </li>
                    <li> <a class="{{activeAsignacion}}" href="/asignacion/"> <span class="title">Asignación</span> </a> </li>
                    <li> <a class="{{activeAsignacionResponsable}}" href="/asignacion_responsable_primario/"> <span class="title">Asignación resp. primario</span> </a> </li>
                    <li> <a class="{{activeMovimientosExternos}}" href="/movimientos_externos/"> <span class="title">Movimientos externos</span> </a> </li>
                    <li> <a class="{{activeCargaMasivaUs}}" href="/carga_masiva_usuarios/"> <span class="title">Carga Masiva Usuarios</span> </a> </li>
                </ul>
            </li>
            <li class="{{openReportes}}"> <a href="#"><i class="fa fa-file-text-o"></i> <span class="title">Reportes</span><span class="{{openAdministracion}} arrow"></span></a>
                <ul class="sub-menu">
                    <li> <a class="{{activeMovimientos}}" href="/reportes/movimientos/"> <span class="title">Historial movimientos Internos</span> </a> </li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>
    <!-- MAIN MENU - END -->
</div>
<!--  SIDEBAR - END -->