<!-- START TOPBAR -->
<div class='page-topbar'>
    <div class='logo-area'></div>
    <div class='quick-area'>
        <div class='pull-left'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="notify-toggle-wrapper">
                    {% if usuario != 'empleado' %}
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-accent">1</span>
                    </a>
                    <ul class="dropdown-menu notifications animated fadeIn" style="height:120px;">
                        <li class="total">
                            <span class="small">
                                Tiene <strong>1</strong> Nueva Notificación.
                                <a href="javascript:;" class="pull-right">Marcar como leido</a>
                            </span>
                        </li>
                        <li class="list">
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="unread available"> <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Server needs to reboot</strong>
                                                <span class="time small">15 mins ago</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>		

        <div class='pull-right'>
            <ul class="info-menu right-links list-inline list-unstyled">
                <li class="profile">
                    <a href="index.html#" data-toggle="dropdown" class="toggle">
                        <img src="{{ persona.foto_persona  }}" alt="user-image" class="img-circle img-inline" style="border:2px solid #DEDEDE;">
                        <span>{{ persona.usuario }} <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile animated fadeIn">
                        <li class="last"><!-- Para poner activo agragar class last -->
                            <a href="/">
                                <i class="fa fa-lock"></i>
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </li>
                <li><div class="col-sm-1 hidden-xs"></div></li>
            </ul>			
        </div>		
    </div>
</div>
<!-- END TOPBAR -->